openapi: 3.0.3
info:
  title: Val's Houston Weather Demo API
  description: >
    This is a demo API integration using OpenWeatherMap to display current weather data for Houston, Texas.
    It showcases how to fetch and interpret weather conditions using the OpenWeatherMap API.
  version: 1.0.0
  contact:
    name: Valerie Wade
    url: https://vcwade.com/tech/ 
  license:
    name: Creative Commons
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/

servers:
  - url: https://api.openweathermap.org/data/2.5
    description: OpenWeatherMap API Server

tags:
  - name: Weather
    description: Operations related to current weather data

paths:
  /weather:
    get:
      tags:
        - Weather
      summary: Get Current Weather for Houston, TX
      description: Returns the current weather information for Houston, TX.
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
            example: 29.7604
        - name: lon
          in: query
          required: true
          schema:
            type: number
            example: -95.3698
        - name: appid
          in: query
          required: true
          description: Your OpenWeatherMap API key
          schema:
            type: string
        - name: units
          in: query
          required: false
          description: Units of measurement
          schema:
            type: string
            enum: [standard, metric, imperial]
            default: imperial
      responses:
        '200':
          description: Successful response with weather data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherResponse'
              examples:
                sample:
                  summary: Sample Houston Weather Data
                  value:
                    weather:
                      - main: Clouds
                        description: overcast clouds
                        icon: 04d
                    main:
                      temp: 82.4
                      feels_like: 85.1
                      pressure: 1013
                      humidity: 74
                    wind:
                      speed: 4.61
                      deg: 160
                    clouds:
                      all: 90
                    visibility: 10000
        '401':
          description: Invalid API key
        '429':
          description: Too many requests
      security:
        - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: appid

  schemas:
    Weather:
      type: object
      properties:
        main:
          type: string
        description:
          type: string
        icon:
          type: string
    WeatherResponse:
      type: object
      properties:
        weather:
          type: array
          items:
            $ref: '#/components/schemas/Weather'
        main:
          type: object
          properties:
            temp:
              type: number
            feels_like:
              type: number
            pressure:
              type: number
            humidity:
              type: number
        wind:
          type: object
          properties:
            speed:
              type: number
            deg:
              type: number
        clouds:
          type: object
          properties:
            all:
              type: integer
        visibility:
          type: integer
