openapi: 3.0.3
info:
  title: Houston Weather Demo API
  description: >
    This is a demo API integration using OpenWeatherMap to display current weather data for Houston, Texas.
    It showcases how to fetch weather conditions using the OpenWeatherMap API.
  version: 1.0.0
servers:
  - url: https://api.openweathermap.org/data/2.5
    description: OpenWeatherMap API Server

paths:
  /weather:
    get:
      summary: Get Current Weather for Houston, TX
      description: Returns the current weather information for Houston, TX.
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
            example: 29.7604
        - name: lon
          in: query
          required: true
          schema:
            type: number
            example: -95.3698
        - name: appid
          in: query
          required: true
          description: Your API key
          schema:
            type: string
        - name: units
          in: query
          required: false
          schema:
            type: string
            enum: [standard, metric, imperial]
            default: imperial
      responses:
        '200':
          description: Successful response with weather data
          content:
            application/json:
              schema:
                type: object
                properties:
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        main:
                          type: string
                        description:
                          type: string
                        icon:
                          type: string
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                      feels_like:
                        type: number
                      pressure:
                        type: number
                      humidity:
                        type: number
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                      deg:
                        type: number
                  clouds:
                    type: object
                    properties:
                      all:
                        type: integer
                  visibility:
                    type: integer
        '401':
          description: Invalid API key
        '429':
          description: Too many requests
